<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Record Shop</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/record-shop">Home</a></li>
        <li><a href="/records">Inventory</a></li>
        <li><a href="/promotions">Promotions</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/stock">Stock</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
