<h1>Artist Added!</h1>
<div class="create-container">
<p>Inventory updated</p>
</div>
<form action="/records/new" method="get">
   <input class="btn-add" type="submit" name="" value="Add More">
</form>
